body {
  margin: 0;
  color: black;
}

.header {
  background-image: linear-gradient(to bottom, #6f6f6f, black 45%);
  padding: 0 20%;
  padding-bottom: .05px;
}

/*top search bar, logo, and button */
.search-form__form{
  padding-top: 15px;
  display: flex;
  padding-left: 45px;
}

.logo-image {
  display: flex;
}

.search-box {
  display: flex;
  padding: 10px 10px 5px 20px;

}

/* Search bar text */
.search-form__q {
  width: 350px;
  font-size: 1.2em;
  border-radius: 7px;
  font-style: italic;
  font-family: serif;
  font-weight: 100;
  border-bottom: 0px;
}

.search-form__button {
  border: none;
  background-color: inherit;
  padding-top: 7px;
  padding-left: 0;
}



/* List items */
li {
  display: inline-flex;
  padding: 2px 4px;
}

.nav {
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  border-radius: 7px;
  margin-bottom: 2px;
  font-weight: normal;
  padding: 5px 0 0px 10px;
  margin: 10px 0 0 30px;
}

/* removing the text decoration from the nav bar links */
:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: white;
}


/* Main Button */
.active {
  background-color: red;
  margin: 0;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  #nav {display: none;}
  .search-form__button {display: none;}
  .search-box {display: none;}
  .header {
    padding: 0 0 8px 0;
    margin: 0;
    border: 0;

  }
}
